*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

/* Container */
.container {
	width: 100%;
	max-width: 1430px;
	margin: 0 auto;

	height: 100vh;

	padding: 20px;
}

/* CSV Button */
.csv__btn {
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;

	label {
		display: block;
		padding: 7px 22px;
		font-size: 22px;

		cursor: pointer;

		border: 1px solid #76bf59;
		border-radius: 5px;
		background-color: #90c57b;
		color: #fff;

		&:hover {
			background-color: #76bf59;
		}
	}

	input {
		display: none;
	}
}

/* Alert */
.alert {
	width: 40%;
	margin: 30px auto 0;
	padding: 30px;
	border: 1px solid #95555C;
	background-color: #F4CCCC;

	text-align: center;
	font-size: 20px;
}

.bold {
	font-weight: bold;
}
